/**
 * Copying the older bootstrap look.
 */

.navbar.navbar-default {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;

	/* background */
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
	background-image: -o-linear-gradient(top,#fff,#f2f2f2);
	background-image: linear-gradient(to bottom,#fff,#f2f2f2);
	background-repeat: repeat-x;

	/* shadow */
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);

	/* border */
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.navbar .tweeki-username {
		display: none;
	}
}

@media (min-width: 768px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 9px;
		margin-bottom: 0;
		padding: 0;
	}

	.navbar-default .navbar-form input {
		padding: 4px 14px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		height: 30px;
		max-width: 16vw;
	}

	.navbar-collapse.collapse {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 0;
		padding-bottom: 0;
		height: 48px;
		line-height: 48px;
	}
}

@media (min-width: 768px) {
	/* Aligns with contents' container. */
	/* Empirically measured */
	.navbar .container {
		padding-left: 45px;
		padding-right: 30px;
	}
}

.navbar-brand {
	/* @embed */
	background: url(nix-wiki.png);
	background-repeat: no-repeat;
	background-size: auto 30px;
	background-position: 0% 45%;
	padding-left: 46px;
}
@media (min-width: 768px) {
	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
		height: 48px;
		line-height: 48px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-brand {
		text-indent: -999em;
		width: 30px;
		padding-right: 0;
		padding-left: 0;
	}
}

body {
	padding-top: 0 !important;
}

.with-navbar.with-navbar-fixed {
	padding-top: 50px;
}

@media (min-width: 768px) {
	#content {
		padding-top: 0;
	}
}
.sidebar-wrapper {
	top: 63px;
}


/**
 * Bootstrap wrangling...
 */

.row-less {
	padding: 0;
}

@media (min-width: 970px) {
	.pull-left-md {
		float: left;
	}
	.pull-right-md {
		float: right;
	}
}

/**
 * Tweeki oddities fixes
 */

#sidebar-right .dropdown-menu {
	/* Dropdown items aren't dropping where expected. */
	right: 0;
	left: initial;
}

#footer > .dropup {
	/* Footer sub-elements are not inlined */
	display: inline-block;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

#mw-navigation.navbar {
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

hr {
	background: transparent;
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

.firstHeading, .tweekiFirstHeading {
	text-align: inherit;
}

p {
    text-align: initial;
}

/* Keeps the TOC expanded */
@media (min-width: 992px) {
	#tweekiTOC #toc ul > li > ul {
		display: block;
	}
	#tweekiTOC {
		/* 12 em is empirically observed. */
		max-height: calc(100vh - 12em);
		overflow: auto;
		overflow-x: auto;
		overflow-y: auto;
	}
}

/**
 * Long quotes
 */

blockquote,
blockquote + cite,
blockquote + p cite {
	padding: 1ex 1em;
	font-size: inherit;
	margin: 0;
	margin-bottom: 1em;
	border-left: 1ex solid #eee;
}
blockquote + cite,
blockquote + p cite {
	display: block;
	margin: 0;
	margin-top: -1em;
	font-size: inherit;
	padding-top: 1em;
}
blockquote + cite::before,
blockquote + p cite::before {
	content: "— ";
	display: inline;
}

/**
 * Making titles more useful.
 */
h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
	margin-top: 1.4ex;
}


h1 { font-size: 4rem; }
h2 {
	font-size: 3.2rem;
}
/* This makes the border hug the h2 element's descenders */
h2::after {
	content: "";
	display: block;
	border-bottom: 1px solid #f0f0f0;
	margin-top: -0.2ex;
	margin-bottom: 0.6ex;
}
h3 { font-size: 2.6rem; }
h4 { font-size: 2.1rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.8rem; font-style: italic; }

/* References */
ol.references li:target, sup.reference:target {
	background: transparent;
}
ol.references li:target *, sup.reference:target * {
    background-color: #def;
    background-color: rgba( 0,127,255,0.133 );
}

/**
 * Templates
 * ---------
 *
 * Why the !important ?
 * Because the templates are made to be as generic as possible, with embedded styles.
 * These are styles needed to do particular overrides.
 *
 * It might, later on, not be needed anymore if we 100% embrace templates in CSS.
 */

.template--file {
    border-radius: 4px;
    box-shadow: 0.1em 0.1em 0.5em #e0e0e0;
}
.template--file-name {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.template--file-contents {
	margin-top: -2px !important;
}
.template--file-contents > pre {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.template--file-name,
.template--file-contents > pre {
	box-shadow: none;
}

/* Assumes 16×16 images in templates. */
.template--inline-image {
	vertical-align: text-top;
}
